@charset "utf-8";
/* CSS Document */


/*Formulario*/
#divForm{
	float: left;
	border:#00C 0px solid;
	height: 100px;	
	width: 1018px;
	font-weight: bold;
	color: #4C4C4C;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin-top: 85px;
}
#divForm1{
	float: left;
	border:#00C 0px solid;
	height: 100px;	
	width: 1018px;
	font-weight: bold;
	color: #4C4C4C;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin-top: 25px;
}
#divForm2{
	float: left;
	border:#00C 0px solid;
	height: 195px;	
	width: 1018px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin-top: 25px;
}
.form-control{
	background-color: #F1F0E7;	
}
#nombre{
	margin-left: 100px;
	width: 200px;	
}
#apellidos{
	margin-left: 30px;
	width: 400px;	
}
#telefono{
	margin-left: 30px;
	width: 150px;	
}
#direccion{
	margin-left: 100px;
	width: 634px;	
}
#nhc{
	margin-left: 30px;
	width: 150px;	
}
#anotaciones{
	margin-left: 100px;
	width: 815px;
}
#enviar{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

	margin-top: 300px;
	border:#00C 0px solid;
	height: 58px;
	width: 144px;
}
#admision{
	color: #FFF
	background-color: #000;
}
a:link   
{   
 text-decoration:none;   
}  