@charset "utf-8";
/* CSS Document */
/*Seguimiento*/
/*-----------------------*/
#infoPaciente{
	float: left;
	border:#F00 0px solid;
	height: 80px;	
	width: 591px;
	margin-top: 50px;
	margin-left: 82px;
}
.superior{
	height: 40px;	
	width: 540px;
	margin-left: 44px;
}
.inferior{
	height: 40px;	
	width: 590px;
	margin-left: 0px;
}
#botonCancelar{
	float: left;
	border:#F00 0px solid;
	height: 36px;	
	width: 35px;
	margin-top: 115px;
}
#contCentral{
	float: left;
	border:#D2CFC1 1px solid;
	height: 400px;	
	width: 700px;
	margin: 0px 0px 0px 34px;
	float: left;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #F6F5F1;
	 border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}
#navCirculos{
	float: right;
	border:#000 0px solid;
	height: 655px;	
	width: 200px;
	margin-right: 2%;
}
#navCirculosDentro1{
	float: left;
	border:#00F 0px solid;
	height: 90%;	
	width: 48%;
	margin-top: 8%;
	margin-right: 2%;

	background: rgba(226,226,226,1);
	background: -moz-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(243,243,243,1) 27%, rgba(247,247,247,1) 55%, rgba(254,254,254,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(27%, rgba(243,243,243,1)), color-stop(55%, rgba(247,247,247,1)), color-stop(100%, rgba(254,254,254,1)));
	background: -webkit-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(243,243,243,1) 27%, rgba(247,247,247,1) 55%, rgba(254,254,254,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(243,243,243,1) 27%, rgba(247,247,247,1) 55%, rgba(254,254,254,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(243,243,243,1) 27%, rgba(247,247,247,1) 55%, rgba(254,254,254,1) 100%);
	background: linear-gradient(135deg, rgba(226,226,226,1) 0%, rgba(243,243,243,1) 27%, rgba(247,247,247,1) 55%, rgba(254,254,254,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 ); 
	border-radius: 10px 10px 10px 10px;
}
#navCirculosDentro2{
	float: right;
	border:#00F 0px solid;
	height: 90%;	
	width: 48%;
	margin-top: 8%;
	margin-left: 2%;

	background: rgba(226,226,226,1);
	background: -moz-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(243,243,243,1) 27%, rgba(247,247,247,1) 55%, rgba(254,254,254,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(27%, rgba(243,243,243,1)), color-stop(55%, rgba(247,247,247,1)), color-stop(100%, rgba(254,254,254,1)));
	background: -webkit-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(243,243,243,1) 27%, rgba(247,247,247,1) 55%, rgba(254,254,254,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(243,243,243,1) 27%, rgba(247,247,247,1) 55%, rgba(254,254,254,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(243,243,243,1) 27%, rgba(247,247,247,1) 55%, rgba(254,254,254,1) 100%);
	background: linear-gradient(135deg, rgba(226,226,226,1) 0%, rgba(243,243,243,1) 27%, rgba(247,247,247,1) 55%, rgba(254,254,254,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 ); 
	border-radius: 10px 10px 10px 10px;
}
#libros{
	float: left;
	border:#00F 0px solid;
	height: 49px;	
	width: 52px;
	margin-top: 8px;
	margin-left: 71px;

}
.xxx{
	float: left;
	border:#00F 0px solid;
	height: 90px;	
	width: 90px;
	margin-top: 6px;
	margin-left: 2px;	
}
span.circulos{
	border:#F3F3F3 5px solid;
  border-radius: 50px;
  display: inline-block;
  font-weight: bold;
  width: 88px; 
  height: 88px;
  margin: 0 auto;


 -webkit-box-shadow: 3px 3px 5px 0px rgba(181,177,181,1);
-moz-box-shadow: 3px 3px 5px 0px rgba(181,177,181,1);
box-shadow: 3px 3px 5px 0px rgba(181,177,181,1);
}
span.blanco{
	background-color: #FFF;
	border:#F3F3F3 5px solid;
	color: #000;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}
span.azul{
  background: #67BBFF;
	border:#FFF 5px solid;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    color: #FFF;
}
span.pistacho{
  background: #BBAD3C;
	border:#FFF 5px solid;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    color: #FFF;
}
span.lila{
  background: #CC99FF;
	border:#FFF 5px solid;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    color: #FFF;
}
span.naranja{
  background: #FF9900;
	border:#FFF 5px solid;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    color: #FFF;
}
span.violeta{
  background: #800080;
	border:#FFF 5px solid;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    color: #FFF;
}
span.rojo{
  background: #FF0000;
	border:#FFF 5px solid;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    color: #FFF;
}
span.negro{
  background: #333333;
	border:#FFF 5px solid;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    color: #FFF;
}
span.verde{
  background: #0B610B;
	border:#FFF 5px solid;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    color: #FFF;
}
span.azulAD{
  background: #0099FF;
	border:#FFF 5px solid;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    color: #FFF;
}
span.azulTriaje{
  background: #004B7E;
	border:#FFF 5px solid;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    color: #FFF;
}
