#main{
    border:#FFCC00 0px solid;
    height:1020px;
    width:1020px;
    margin: 0 auto;
}

#contenedor{
    border:#FF0598 0px solid;
    float: left;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FFF;
    background: rgba(226,226,226,1);
background: -moz-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(243,243,243,1) 15%, rgba(254,254,254,1) 33%, rgba(254,254,254,1) 74%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(15%, rgba(243,243,243,1)), color-stop(33%, rgba(254,254,254,1)), color-stop(74%, rgba(254,254,254,1)));
background: -webkit-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(243,243,243,1) 15%, rgba(254,254,254,1) 33%, rgba(254,254,254,1) 74%);
background: -o-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(243,243,243,1) 15%, rgba(254,254,254,1) 33%, rgba(254,254,254,1) 74%);
background: -ms-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(243,243,243,1) 15%, rgba(254,254,254,1) 33%, rgba(254,254,254,1) 74%);
background: linear-gradient(135deg, rgba(226,226,226,1) 0%, rgba(243,243,243,1) 15%, rgba(254,254,254,1) 33%, rgba(254,254,254,1) 74%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
    -webkit-box-shadow: 4px 4px 22px 0px rgba(235,235,235,1);
    -moz-box-shadow: 5px 5px 10px 0px rgba(235,235,235,1);
    box-shadow: 5px 5px 10px 0px rgba(235,235,235,1);
     border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    height: 680px;
    width: 1018px;  
    margin-top: 80px;
}

#logo{
    float: center;
    margin: 0 auto;
    height: 72px;
    width: 165px;
}

#form{
    border:#FF0598 0px solid;
    height: 400px;
    width: 400px;
    margin: 0 auto;
    margin-top: 140px;

}

#divUsuario{
    margin-top: 30px;
}

#divPass{
    margin-top: 15px;
}

#enviar{
    margin: 0 auto;
    margin-top: 50px;
    border:#00C 0px solid;
    height: 58px;
    width: 144px;
}
