@charset "utf-8";
/* CSS Document */

#main{
	border:#FFCC00 0px solid;
	height:1020px;
	width:1020px;
	margin: 0 auto;
}

#cabecera {
	border:#FF0000 0px solid;
	height:72px;
	width:1020px;
}

#logo {
	float: left;
	border:#00FF00 0px solid;
	height:72px;
	width:250px;
}
#navegacion {
	float: left;
	border:#581200 0px solid;
	height:72px;
	width:520px;
}
#login {
	float: left;
	border:#074100 0px solid;
	height:72px;
	width:250px;
}
.navegacion_ul{
	border:#FF0598 0px solid;
	list-style-type: none;
	display: inline;
	margin: 0 auto;
	margin-left: 0px;
}
.navegacion_li a {
	float: left;
	display: inline;
	padding-top: 15px;
	margin-right: 15px;
	color: #ffffff;
	font-size: 16px;
	background-color: #4c4c4c;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	text-align: center;
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	height: 57px;
	width: 115px;
}


